@charset "utf-8";
/* CSS Document */
.col-sm-6 {
    
    padding: 10px;
}
.pageMovement {
    margin-top: 25px;
}
.answer {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    background: #C6F3FF;
}
.container {
    border: solid 1px #D8D8D8;
}
.hide {
    display:none;
}
.show {
    display:block;
}
.progress {
    margin-top: 25px;
}
#finishQuiz {
    margin-top: 25px;
}
.output {
    font-size:20px;
}
.glyphicon-ok-circle {
    color:#00FF64;
}
.glyphicon-remove-circle {
    color:#FF0004;
}
.selAnswer {
    background: #4E9267;
}